
__pycache__
settings.json
.vscode
.venv/
.env
*.log
.DS_STORE
.jovianrc
.ipynb_checkpoints
venv/
C:\Users\bryan\Desktop\AWS\Portfolio\Python\100 Days of Python\Day 39 - Flight Deal Finder\flight-deals-361722-ebd7f965d000.json